header{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 98.5vw;
    border-bottom: 2px solid #5B7C99;
}
.app-name{
    display: flex;
    flex-direction: row;
}
.log-in{
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    justify-content: center;
}