.budget, .fruga {
    border: 2px solid #5b7c99;
    border-radius: 15px;
    margin-top: 4rem;
    margin-left: 4rem;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: center;
}

div.budget {
    margin-top: 5vh;
    padding-bottom: 3vh;
    padding-top: 3vh;
    width: 80%;
    margin-left: 3vh;
}
div.fruga{
    width: 70%;
    margin-left: 8.24634655532359vh;

}

.landing-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: .5rem;
}

.content {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
}

.landing-pie-chart {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 2rem;
    padding-right: 3rem;
    margin-top: 4rem;
    width: 35%;
}

p {
    text-align: center;
    font-weight: bolder;
}

a {
    display: inline-block;
    margin-top: 2px;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    height: 35px;
    border-radius: 7px;
    color: aliceblue;
    margin-top: 1rem;
    margin-right: 1rem;
}
