.budget,.fruga{
    border: 2px solid #5b7c99 ;
    border-radius: 15px;
    margin-top: 4rem;
    margin-left: 4rem;
    text-wrap: pretty;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: center;
}

.landing-info{
    display: flex;
    flex-direction: column;
    width: 55%;
}
p{
    color: black;
    text-align: center;
}
a{
    display: inline-block;
    margin-top: 2px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
button{
    height: 35px;
    border-radius: 7px;
    color: aliceblue;
}