.saved-budgets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-budget {
    display: flex;
    justify-content: center;
    overflow: auto;
    border: 2px solid rgb(107, 208, 236);
    border-radius: 8px;
    background-color: white;
    color: black;
    width: 50%;
    max-width: 600px;
    margin: 10px;
}