.saved-budgets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-budget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    border: 2px solid rgb(107, 208, 236);
    border-radius: 8px;
    background-color: white;
    color: black;
    width: 50%;
    max-width: 600px;
    margin: 10px;
    padding: 5px;
}

.budget-details {
    display: flex;
}

.view-button {
    margin: 0;
}

.budget-info {
    display: flex;
}